<div class="p-6 space-y-4">
    <form class="flex items-center gap-x-4" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <input formControlName="formContent" 
      class="bg-zinc-100 w-[25rem] border-2 text-zinc-950 rounded-xl h-[3.35rem] p-4 text-lg"/>
    <button type="submit" [disabled]="todoForm.invalid" 
      class="rounded-xl bg-orange-400 text-black hover:bg-orange-500 px-6 py-3 text-lg">
      Add ToDo
    </button>
    <select formControlName="formSelector" class="w-[8rem] h-[2rem] border-2 rounded-xl">
      <option [ngValue]="null" disabled selected>Priority</option>
      <option [ngValue]="Priority.LOW">Low</option>
      <option [ngValue]="Priority.MEDIUM">Medium</option>
      <option [ngValue]="Priority.HIGH">High</option>
    </select>
    
    @if(
        (todoForm.controls.formContent.invalid && todoForm.controls.formContent.touched) ||
        (todoForm.controls.formSelector.invalid && todoForm.controls.formSelector.touched)
      ){
        <div class="text-red-500 text-sm font-bold">
          Content & Priority required
        </div>
    }
    
  </form>
  <div class="flex gap-x-2 items-center mb-4">
    <label for="filter">Filter by:</label>
    <select [formControl]="todoForm.controls.formFilter" id="filter" class="border-2 rounded-xl px-2 py-1">
      <option [ngValue]="null" disabled selected>Priority</option>
      <option [ngValue]="Priority.LOW">Low</option>
      <option [ngValue]="Priority.MEDIUM">Medium</option>
      <option [ngValue]="Priority.HIGH">High</option>
      <option [ngValue]="'ALL'">All</option>
    </select>
  </div>

  @if(filteredTodos().length === 0){
    <p>There're ain't ToDo's for {{todoForm.controls.formFilter.value}} priority to filter</p>
  }
  @else {
    <ul class="space-y-3">
      @for(todo of filteredTodos(); track todo.id){
        <app-todo-item [todo]="todo"></app-todo-item>
      }
    </ul>
  }
    
</div>
