<div class="p-6 space-y-4">
  <form class="flex flex-col gap-y-0.5" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="flex items-center gap-x-4">
      <input
        formControlName="formContent"
        class="bg-zinc-100 w-[25rem] border-2 text-zinc-950 rounded-xl h-[3.35rem] text-lg"
      />
      <select
        formControlName="formSelector"
        class="w-[8rem] h-[2rem] border-2 rounded-xl px-2 py-1"
      >
        <option [ngValue]="null" disabled selected>Priority</option>
        <option [ngValue]="Priority.LOW">Low</option>
        <option [ngValue]="Priority.MEDIUM">Medium</option>
        <option [ngValue]="Priority.HIGH">High</option>
      </select>
      <button
        type="submit"
        [disabled]="todoForm.invalid"
        class="rounded-xl bg-orange-400 text-black cursor-pointer hover:bg-orange-500 px-6 py-3 text-lg"
      >
        Add ToDo
      </button>
    </div>

    <div class="flex flex-wrap gap-2 pt items-center pt-1">
      <span class="text-gray-500 w-full">Add tags:</span>
      @for(tag of tagList; track tag){
        <button
          type="button"
          (click)="toggleTag(tag)"
          [ngClass]="[
            tagColors[tag],
            selectedTags().includes(tag) ? 'border-2 border-gray-950' : 'text-black',
            'px-3 py-1 cursor-pointer rounded-lg border border-gray-300 text-sm transition-all duration-300 hover:scale-105 hover:brightness-90'
          ]"
        >
          {{ tag }}
        </button>
      }
    </div>

    @if(
      (todoForm.controls.formContent.invalid && todoForm.controls.formContent.touched) ||
      (todoForm.controls.formSelector.invalid && todoForm.controls.formSelector.touched)
    ){
      <div class="text-red-500 text-sm font-bold">
        Content & Priority required
      </div>
    }
  </form>

  <div class="flex mb-4 gap-x-8 pt-10">
    <div class="flex items-center gap-x-1">
      <label for="filter">Filter priority:</label>
      <select
        [formControl]="todoForm.controls.formFilter"
        id="filter"
        class="border-2 rounded-xl px-2 py-1"
      >
        <option [ngValue]="'ALL'" selected>All</option>
        <option [ngValue]="Priority.LOW">Low</option>
        <option [ngValue]="Priority.MEDIUM">Medium</option>
        <option [ngValue]="Priority.HIGH">High</option>
      </select>
    </div>

    <div class="flex items-center gap-x-1">
      <label for="filterTag">Filter tag: </label>
      <select
        [formControl]="todoForm.controls.formFilterTag"
        id="filterTag"
        class="border-2 rounded-xl px-2 py-1"
      >
        <option [ngValue]="null" selected>All tags</option>
        @for(tag of tagList; track tag){
          <option [ngValue]="tag">{{ tag }}</option>
        }
      </select>
    </div>

    <div>
      <button
        type="button"
        class="bg-sky-400 p-1 px-2 rounded-xl cursor-pointer brightness-110 hover:brightness-100"
        (click)="resetFilters()"
      >
        Reset Filters
      </button>
    </div>
  </div>

  @if(filteredTodos().length === 0){
    <p>There're ain't ToDo's for this filter</p>
  }
  @else {
    <ul
      cdkDropList
      [cdkDropListData]="filteredTodos()"
      (cdkDropListDropped)="onDrop($event)"
      class="space-y-3"
    >
      @for(todo of filteredTodos(); track todo.id){
        <li cdkDrag class="transition-opacity transition-transform duration-300 ease-out">
          <ng-container *cdkDragPreview>
            <div class="bg-gray-50 h-[10rem] p-4 rounded-xl border-2 border-orange-600 shadow-lg w-[20rem]">
              <span class="text-2xl break-words">{{ todo.content }}</span>
              <div class="flex justify-end gap-2 mt-2">
                <button class="bg-blue-400 text-white px-3 py-1 rounded">Edit</button>
                <button class="bg-green-400 text-white px-3 py-1 rounded">Done</button>
                <button class="bg-red-400 text-white px-3 py-1 rounded">Delete</button>
              </div>
            </div>
          </ng-container>

          <app-todo-item [todo]="todo" (delete)="removeTodoWithAnimation($event)"></app-todo-item>
        </li>

      }
    </ul>
  }

  <div class="fixed bottom-4 right-4 space-y-2">
    @for(toast of toastService.toasts(); track toast.id) {
      <div
        (click)="removeToast(toast.id)"
        class="px-14 py-4 rounded-lg shadow-lg border bg-gray-50 border-orange-400 text-black text-2xl min-w-[20rem] cursor-pointer text-center overflow-hidden transition-all duration-700 transform"
        [class.opacity-100]="toast.visible"
        [class.opacity-0]="!toast.visible"
        [class.translate-y-0]="toast.visible"
        [class.translate-y-4]="!toast.visible"
      >
        <div class="mb-1">{{ toast.message }}</div>
        <div class="h-1 bg-orange-200 rounded-full overflow-hidden">
          <div
            class="h-1 bg-orange-500"
            [style.width.%]="toast.shrinking ? 0 : 100"
            [style.transition]="'width ' + (toast.duration / 1000) + 's linear'"
          ></div>
        </div>
      </div>
    }
  </div>
</div>
