<div>
  <!-- Formulario principal -->
  <form class="flex flex-col gap-y-4" [formGroup]="todoForm" (ngSubmit)="onSubmit()">

    <!-- Entrada principal -->
    <div class="flex flex-wrap md:flex-nowrap items-center gap-4">
      <input formControlName="formContent"
        class="flex-1 border border-[var(--border-color)] rounded-xl h-[3.35rem] text-base md:text-lg px-4 shadow-sm bg-[var(--mat-sys-surface-container-highest)] text-[var(--text-color)] placeholder-[var(--text-secondary)] focus:ring-2 focus:ring-orange-400 transition-all duration-300"
        placeholder="New ToDo..." />

      <select formControlName="formSelector"
        class="w-[8rem] md:w-[10rem] cursor-pointer h-[3rem] border border-[var(--border-color)] rounded-xl px-3 py-1 bg-[var(--mat-sys-surface-container-highest)] text-[var(--text-color)] shadow-sm focus:ring-2 focus:ring-orange-400 transition-all duration-300">
        <option [ngValue]="null" disabled selected>Priority</option>
        <option [ngValue]="Priority.LOW">Low</option>
        <option [ngValue]="Priority.MEDIUM">Medium</option>
        <option [ngValue]="Priority.HIGH">High</option>
      </select>
    </div>

    <!-- Tags -->
    <div class="flex flex-wrap gap-2 items-center pt-2">
      <span class="w-full text-[var(--text-secondary)] font-semibold text-sm uppercase tracking-wide">Add tags:</span>
      @for(tag of tagList; track tag){
      <button type="button" (click)="toggleTag(tag)" [ngClass]="[
          tagColors[tag],
          selectedTags().includes(tag) ? 'border-2 font-bold text-black' : 'text-black',
          'px-3 py-1 rounded-lg border cursor-pointer border-[var(--border-color)] text-sm transition-all duration-300 hover:scale-105 hover:brightness-95 shadow-sm'
        ]">
        {{ tag }}
      </button>
      }
    </div>

    <!-- Validación -->
    @if(
    (todoForm.controls.formContent.invalid && todoForm.controls.formContent.touched) ||
    (todoForm.controls.formSelector.invalid && todoForm.controls.formSelector.touched)
    ){
    <div class="text-red-500 text-sm font-semibold mt-1">
      Content & Priority required
    </div>
    }

    <!-- Subtasks -->
    <div class="subtasks mt-2 space-y-2">
      @for(sub of formSubtasksWithIndex; track sub.index) {
      <div class="flex gap-2 w-full md:w-[60%]">
        <input type="text" [value]="sub.content" (input)="updateSubtask(sub.index, $any($event.target).value)"
          placeholder="Subtask"
          class="border border-[var(--border-color)] rounded-lg px-3 py-2 flex-1 bg-[var(--mat-sys-surface-container)] shadow-sm focus:ring-2 focus:ring-orange-400 text-[var(--text-color)] transition-all duration-300" />

        <button type="button"
          class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded-lg shadow-md transition-all duration-300">
          X
        </button>
      </div>
      }

      <button type="button" (click)="addSubtaskInput()"
        class="mt-2 cursor-pointer bg-blue-500 hover:bg-blue-600 text-black curpo px-5 py-2 rounded-lg shadow-md transition-all duration-300">
        Add subtask
      </button>
    </div>

    <!-- Add ToDo -->
    <button type="submit" [disabled]="todoForm.invalid"
      class="rounded-xl w-full sm:w-[14rem] h-[4rem] bg-gradient-to-r from-orange-400 to-orange-500 mt-6 text-black cursor-pointer hover:brightness-105 shadow-lg text-lg font-semibold transition-all duration-300">
      Add ToDo
    </button>
  </form>

  <!-- Filtros -->
  <div
    class="flex my-5 flex-wrap gap-6 pt-5 items-center justify-between bg-[var(--mat-sys-surface-container)]/50 border border-[var(--border-color)] rounded-xl p-4 shadow-sm">
    <div class="flex items-center gap-x-2">
      <label for="filter" class="font-semibold text-[var(--text-color)]">Filter priority:</label>
      <select [formControl]="todoForm.controls.formFilter" id="filter"
        class="border rounded-lg cursor-pointer px-3 py-1 bg-[var(--mat-sys-surface-container-highest)] text-[var(--text-color)] shadow-sm focus:ring-2 focus:ring-orange-400 transition-all duration-300">
        <option [ngValue]="'ALL'" selected>All</option>
        <option [ngValue]="Priority.LOW">Low</option>
        <option [ngValue]="Priority.MEDIUM">Medium</option>
        <option [ngValue]="Priority.HIGH">High</option>
      </select>
    </div>

    <div class="flex items-center gap-x-2">
      <label for="filterTag" class="font-semibold text-[var(--text-color)]">Filter tag:</label>
      <select [formControl]="todoForm.controls.formFilterTag" id="filterTag"
        class="border rounded-lg cursor-pointer px-3 py-1 bg-[var(--mat-sys-surface-container-highest)] text-[var(--text-color)] shadow-sm focus:ring-2 focus:ring-orange-400 transition-all duration-300">
        <option [ngValue]="null" selected>All tags</option>
        @for(tag of tagList; track tag){
        <option [ngValue]="tag" class="cursor-pointer">{{ tag }}</option>
        }
      </select>
    </div>

    <div>
      <button type="button" (click)="resetFilters()"
        class="bg-sky-400 hover:bg-sky-500 text-black font-medium px-4 py-2 rounded-lg cursor-pointer shadow-md transition-all duration-300">
        Reset Filters
      </button>
    </div>
  </div>

  <!-- ToDo List -->
  @if(filteredTodos().length === 0){
  <p class="text-[var(--text-secondary)] italic text-center">There're no ToDo's for this filter</p>
  }
  @else {
  <ul cdkDropList [cdkDropListData]="filteredTodos()" (cdkDropListDropped)="onDrop($event)"
    class="space-y-4 todo-list-wrapper flex flex-col relative">
    @for(todo of filteredTodos(); track todo.id){
    <li cdkDrag class="transition-all duration-300 ease-out transform"
      [class.opacity-0]="removingMap()[todo.id] || !appearingMap()[todo.id]"
      [class.opacity-100]="!removingMap()[todo.id] && appearingMap()[todo.id]"
      [class.scale-95]="removingMap()[todo.id] || !appearingMap()[todo.id]"
      [class.scale-100]="!removingMap()[todo.id] && appearingMap()[todo.id]"
      [class.translate-y-[10px]]="removingMap()[todo.id]" [class.translate-y-[0]]="!removingMap()[todo.id]">
      <!-- Drag preview -->
      <ng-container *cdkDragPreview>
        <div
          class="h-[10rem] p-4 rounded-xl border-2 border-orange-600 shadow-lg w-[20rem] bg-[var(--mat-sys-surface-container-highest)]/95 text-[var(--text-color)]">
          <span class="text-2xl break-words">{{ todo.content }}</span>
          <div class="flex justify-end gap-2 mt-3">
            <button class="bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded-lg shadow-md">Edit</button>
            <button class="bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded-lg shadow-md">Done</button>
            <button class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded-lg shadow-md">Delete</button>
          </div>
        </div>
      </ng-container>

      <!-- Item real -->
      <app-todo-item [todo]="todo" (delete)="removeTodoWithAnimation($event)"></app-todo-item>
    </li>
    }
  </ul>
  }

  <!-- Toasts -->
  <div class="fixed bottom-4 right-4 space-y-3">
    @for(toast of toastService.toasts(); track toast.id) {
    <div
      class="toast px-10 py-4 rounded-xl shadow-lg border border-orange-400 text-lg min-w-[20rem] cursor-pointer text-center bg-[var(--mat-sys-surface-container-highest)]/80 backdrop-blur-md text-[var(--text-color)] transform transition-all duration-500 ease-out"
      (click)="removeToast(toast.id)" [class.opacity-0]="!toast.visible" [class.opacity-100]="toast.visible"
      [class.translate-y-[10px]]="!toast.visible" [class.translate-y-[0]]="toast.visible"
      [class.scale-95]="!toast.visible">
      <div class="mb-1">{{ toast.message }}</div>
      <div class="h-1 bg-orange-200 rounded-full overflow-hidden">
        <div class="h-1 bg-orange-500" [style.width.%]="toast.shrinking ? 0 : 100"
          [style.transition]="'width ' + (toast.duration / 1000) + 's linear'">
        </div>
      </div>
    </div>
    }
  </div>
</div>