<div>
  <button type="button"
    class="bg-orange-400 hover:bg-orange-500 w-[14rem] h-[3rem] text-black font-medium px-4 py-2 rounded-xl cursor-pointer shadow-md transition-all duration-300"
    (click)="openCreateModal()">
    {{lang.t('todoList.buttons.addTodo')}}
  </button>


  <!-- Filtros -->
  <div
    class="flex my-5 flex-wrap gap-6 pt-5 items-center justify-between bg-[var(--mat-sys-surface-container)]/50 border border-[var(--border-color)] rounded-xl p-4 shadow-sm">
    <div class="flex items-center gap-x-2">
      <label for="filter" class="font-semibold text-[var(--text-color)]">{{lang.t('filters.filterPriority')}}</label>
      <select [formControl]="todoForm.controls.formFilter" id="filter"
        class="border rounded-xl cursor-pointer px-3 py-1 bg-[var(--mat-sys-surface-container-highest)] text-[var(--text-color)] shadow-sm focus:ring-2 focus:ring-orange-400 transition-all duration-300">
        <option [ngValue]="'ALL'" selected>{{lang.t('priority.priorityAll')}}</option>
        <option [ngValue]="Priority.LOW">{{lang.t('priority.priorityLow')}}</option>
        <option [ngValue]="Priority.MEDIUM">{{lang.t('priority.priorityMedium')}}</option>
        <option [ngValue]="Priority.HIGH">{{lang.t('priority.priorityHigh')}}</option>
      </select>
    </div>

    <div class="flex items-center gap-x-2">
      <label for="filterTag" class="font-semibold text-[var(--text-color)]">{{lang.t('filters.filterTag')}}</label>
      <select [formControl]="todoForm.controls.formFilterTag" id="filterTag"
        class="border rounded-xl cursor-pointer px-3 py-1 bg-[var(--mat-sys-surface-container-highest)] text-[var(--text-color)] shadow-sm focus:ring-2 focus:ring-orange-400 transition-all duration-300">
        <option [ngValue]="null" selected>{{lang.t('tags.tagsAll')}}</option>
        @for(tag of tagList; track tag){
        <option [ngValue]="tag" class="cursor-pointer">{{ tag }}</option>
        }
      </select>
    </div>

    <div>
      <button type="button" (click)="resetFilters()"
        class="bg-sky-400 hover:bg-sky-500 text-black font-medium px-4 py-2 rounded-xl cursor-pointer shadow-md transition-all duration-300">
        {{lang.t('filters.reset')}}
      </button>
    </div>
  </div>

  <!-- ToDo List -->
  @if(filteredTodos().length === 0){
  <p class="text-[var(--text-secondary)] italic text-center">{{lang.t('filters.empty')}}</p>
  }
  @else {
  <ul cdkDropList [cdkDropListData]="filteredTodos()" (cdkDropListDropped)="onDrop($event)"
    class="space-y-4 todo-list-wrapper flex flex-col relative">
    @for(todo of filteredTodos(); track todo.id){
    <li cdkDrag [cdkDragStartDelay]="250" class="transition-all duration-300 ease-out transform"
      [class.opacity-0]="removingMap()[todo.id] || !appearingMap()[todo.id]"
      [class.opacity-100]="!removingMap()[todo.id] && appearingMap()[todo.id]"
      [class.scale-95]="removingMap()[todo.id] || !appearingMap()[todo.id]"
      [class.scale-100]="!removingMap()[todo.id] && appearingMap()[todo.id]"
      [class.translate-y-[10px]]="removingMap()[todo.id]" [class.translate-y-[0]]="!removingMap()[todo.id]">
      <!-- Drag preview -->
      <ng-container *cdkDragPreview>
      </ng-container>

      <!-- Item real -->
      <app-todo-item [todo]="todo" (delete)="removeTodoWithAnimation($event)"></app-todo-item>
    </li>
    }
  </ul>
  }

  <!-- Toasts -->
  <div class="fixed bottom-4 right-4 space-y-3">
    @for(toast of toastService.toasts(); track toast.id) {
    <div
      class="toast px-10 py-4 rounded-xl shadow-lg border border-orange-400 text-lg min-w-[20rem] cursor-pointer text-center bg-[var(--mat-sys-surface-container-highest)]/80 backdrop-blur-md text-[var(--text-color)] transform transition-all duration-500 ease-out"
      (click)="removeToast(toast.id)" [class.opacity-0]="!toast.visible" [class.opacity-100]="toast.visible"
      [class.translate-y-[10px]]="!toast.visible" [class.translate-y-[0]]="toast.visible"
      [class.scale-95]="!toast.visible">
      <div class="mb-1">{{ toast.message }}</div>
      <div class="h-1 bg-orange-200 rounded-full overflow-hidden">
        <div class="h-1 bg-orange-500" [style.width.%]="toast.shrinking ? 0 : 100"
          [style.transition]="'width ' + (toast.duration / 1000) + 's linear'">
        </div>
      </div>
    </div>
    }
  </div>
</div>