<div class="flex-1 p-6 overflow-y-auto bg-[var(--panel-bg)] rounded-xl shadow-inner">

  <!-- Título -->
  <p class="text-center text-lg font-bold mb-6 text-gray-700">Completed Tasks</p>

  <!-- Filtro -->
  <div class="flex gap-x-3 items-center mb-6">
    <label for="doneFilter" class="font-semibold">Filter by:</label>
    <select id="doneFilter" [ngModel]="filterSignal()" (ngModelChange)="filterSignal.set($event)"
      class="border-2 border-gray-300 bg-[var(--mat-sys-inverse-on-surface)] rounded-xl px-3 py-1 shadow-sm focus:ring-2 focus:ring-orange-400 cursor-pointer">
      <option [ngValue]="null" disabled>Priority</option>
      <option [ngValue]="Priority.LOW">Low</option>
      <option [ngValue]="Priority.MEDIUM">Medium</option>
      <option [ngValue]="Priority.HIGH">High</option>
      <option [ngValue]="'ALL'">All</option>
    </select>
  </div>

  <!-- Mensajes si no hay tareas -->
  @if(filteredDoneTodos().length === 0) {
  @if(filterSignal() === null){
  <p class="text-center text-gray-500 italic">No completed tasks yet.</p>
  }@else {
  <p class="text-center text-gray-500 italic">No completed tasks for {{ filterSignal() }} priority ToDo yet.</p>
  }
  } @else {

  <!-- Lista de tareas completadas -->
  <ul class="space-y-4">
    @for(todo of filteredDoneTodos(); track todo.id) {
    <li class="flex justify-between items-center w-full border-2 border-[#f43a09] rounded-xl shadow-lg p-4 bg-white">

      <span class="text-gray-600 break-words flex-1 pr-4 font-medium">
        {{ todo.content }}
      </span>

      <div class="flex gap-2">
        <button (click)="todoState.toggleCompletedToDo(todo.id)"
          class="bg-green-400 text-white px-3 py-1 rounded-lg hover:bg-green-500 shadow-md text-sm font-semibold">
          Undone
        </button>
        <button (click)="todoState.deleteTodo(todo.id)"
          class="bg-red-400 text-white px-3 py-1 rounded-lg hover:bg-red-500 shadow-md text-sm font-semibold">
          Delete
        </button>
      </div>
    </li>
    }
  </ul>
  }
</div>