<div class="flex-1 p-4 overflow-y-auto">
  <p class="text-center text-lg font-bold mb-4">Completed Tasks</p>
  <div class="flex gap-x-2 items-center mb-4">
    <label for="doneFilter">Filter by:</label>
    <select id="doneFilter"
      [ngModel]="filterSignal()"
      (ngModelChange)="filterSignal.set($event)"
      class="border-2 rounded-xl px-2 py-1">
      <option [ngValue]="null" disabled>Priority</option>
      <option [ngValue]="Priority.LOW">Low</option>
      <option [ngValue]="Priority.MEDIUM">Medium</option>
      <option [ngValue]="Priority.HIGH">High</option>
      <option [ngValue]="'ALL'">All</option>
    </select>
  </div>

  @if(filteredDoneTodos().length === 0) {
    @if(filterSignal() === null){
      <p class="text-center">No completed tasks yet.</p>
    }@else {
      
      <p class="text-center">No completed tasks for {{ filterSignal() }} priority ToDo yet.</p>
    }
  } @else {

    <ul class="space-y-3">
      @for(todo of filteredDoneTodos(); track todo.id) {
        <li class="flex justify-between items-center w-full border-2 border-[#f43a09] rounded-xl shadow-md p-3">
          <span class="text-gray-400 break-words flex-1 pr-4">
            {{ todo.content }}
          </span>

          <div class="flex gap-2">
            <button 
              (click)="todoState.toggleCompletedToDo(todo.id)" 
              class="bg-green-400 text-white px-3 py-1 rounded hover:bg-green-500 text-sm">
              Undone
            </button>
            <button 
              (click)="todoState.deleteTodo(todo.id)" 
              class="bg-red-400 text-white px-3 py-1 rounded hover:bg-red-500 text-sm">
              Delete
            </button>
          </div>
        </li>
      }
    </ul>
  }
</div>
