@if(todo().completed === false){
<div
  class="flex flex-col justify-between rounded-xl border-2 border-zinc-300 m-1.5 p-4 transition-all duration-400 ease-out transform origin-top">
  @if(!isEditing()){
  <div class="flex flex-col w-full">
    <span [class.line-through]="todo().completed" [class.text-gray-400]="todo().completed"
      class="text-2xl break-words w-full mb-[0.5rem]">
      {{ todo().content }}
    </span>

    @if(todo().tag?.length){
    <div class="flex flex-wrap gap-2 mb-2">
      @for(tag of todo().tag; track tag){
      <span class="px-2 py-0.5 rounded-full text-center text-sm text-black" [ngClass]="tagColors[tag]">
        {{lang.t('tags.'+tag.toLowerCase())}}
      </span>
      }
    </div>
    }
    @if(todo().subtask !== [] && todo().subtask?.length){
    <div class="m-2 mb-[2rem]">
      <ul>
        @for(sub of todo().subtask; track sub.id){
        <li class="flex items-center gap-2">
          <input type="checkbox" [checked]="sub.completed" (change)="toggleSubtaskCompletion(sub.id)" />

          <!-- Mostrar contenido o input según edición -->
          @if(editingSubtaskId() !== sub.id){
          <span (click)="toggleSubtaskCompletion(sub.id)" class="cursor-pointer" [class.line-through]="sub.completed">
            {{sub.content}}
          </span>
          <span class="material-symbols-outlined cursor-pointer" (click)="startSubtaskEdit(sub)">
            edit
          </span>
          } @else {
          <input type="text" [ngModel]="subtaskEditContent()" (ngModelChange)="subtaskEditContent.set($event)"
            class="border rounded px-2 py-1 max-w-[15rem] flex-1" />
          <button
            class="material-symbols-outlined border-1 rounded-4xl cursor-pointer hover:scale-110 transition-transform"
            (click)="saveSubtaskEdit(sub)">check</button>
          <button
            class="material-symbols-outlined border-1 rounded-4xl cursor-pointer hover:scale-110 transition-transform"
            (click)="cancelSubtaskEdit()">close</button>
          }
        </li>
        }
      </ul>
    </div>
    }

    <div class="flex flex-col gap-2 w-full mt-5 mb-[0.5rem] text-sm text-gray-500">
      <div class="flex justify-between gap-6 w-full">
        <div class="flex items-center gap-1 text-lg">
          {{lang.t('todoItem.priority')}}
          @if(todo().priority === Priority.LOW) {
          {{ lang.t('priority.priorityLow') }}
          <i class="fa-solid fa-gauge-high scale-x-[-1] text-green-400"></i>
          } @else if(todo().priority === Priority.MEDIUM) {
          {{ lang.t('priority.priorityMedium') }}
          <i class="fa-solid fa-gauge text-yellow-500"></i>
          } @else {
          {{ lang.t('priority.priorityHigh') }}
          <i class="fa-solid fa-gauge-high text-red-500"></i>
          }
        </div>

        <div class="flex items-center gap-3">
          <div>
            <i class="fa-solid fa-calendar-days"></i>
            {{ todo().date.getMonth() + 1 }}/{{ todo().date.getDate() }}
          </div>
          <div>
            <i class="fa-solid fa-clock"></i>
            {{ todo().date.getHours() | number : '2.0' }}:{{
            todo().date.getMinutes() | number : '2.0'
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
  } @else {
  <div class="flex flex-col gap-4 w-full">
    <input type="text" [ngModel]="contentEdit()" (ngModelChange)="contentEdit.set($event)"
      class="text-[1.5rem] w-full border rounded px-2 py-1" />
    <span class="flex-2">
      <select id="todoPriority" [ngModel]="prioritySignal()" (ngModelChange)="prioritySignal.set($event)"
        class="border-2 rounded-xs px-2 py-1">
        <option [ngValue]="null" disabled>{{lang.t('priority.changePriority')}}</option>
        <option [ngValue]="Priority.LOW">{{lang.t('priority.priorityLow')}}</option>
        <option [ngValue]="Priority.MEDIUM">{{lang.t('priority.priorityMedium')}}</option>
        <option [ngValue]="Priority.HIGH">{{lang.t('priority.priorityHigh')}}</option>
      </select>
    </span>
  </div>
  }

  <div class="flex justify-end space-x-2 mt-2">
    @if(!isEditing()){ @if(!todo().completed){
    <button class="bg-blue-400 cursor-pointer text-white px-3 py-1 rounded hover:bg-blue-500" (click)="startEdit()">
      {{lang.t('todoItem.buttons.edit')}}
    </button>
    }
    <button class="bg-green-400 cursor-pointer text-white px-3 py-1 rounded hover:bg-green-500"
      (click)="completeToDo()">
      {{lang.t('todoItem.buttons.done')}}
    </button>
    <button class="bg-red-400 cursor-pointer text-white px-3 py-1 rounded hover:bg-red-500" (click)="deleteTodo()">
      {{lang.t('todoItem.buttons.delete')}}
    </button>
    } @else {
    <button class="bg-green-400 cursor-pointer text-white px-3 py-1 rounded hover:bg-green-500" (click)="saveEdit()">
      {{lang.t('todoItem.buttons.save')}}
    </button>
    <button class="bg-gray-400 cursor-pointer text-white px-3 py-1 rounded hover:bg-gray-500" (click)="cancelEdit()">
      {{lang.t('todoItem.buttons.goBack')}}
    </button>
    }
  </div>
</div>
}