<div class="flex min-h-screen bg-[var(--body-bg)] text-[var(--text-color)] transition-colors duration-300">

  <!-- 🧭 Sidebar Izquierdo -->
  <aside class="fixed top-0 left-0 h-screen sm:relative sm:h-auto sm:w-[12rem] w-64 flex flex-col justify-between border-r border-[var(--border-color)] bg-[var(--sidebar-bg)]/70 backdrop-blur-md p-4 overflow-hidden z-30
         transform transition-transform duration-300 ease-in-out" [class.translate-x-0]="sidebarOpen() || !isMobile()"
    [class.-translate-x-full]="!sidebarOpen() && isMobile()">

    <!-- Branding -->
    <div>
      <h1 class="text-2xl font-bold tracking-tight text-orange-400">
        Reddot<span class="text-zinc-400">Tasks</span>
      </h1>
      <p class="text-xs text-[var(--text-secondary)] mt-1">
        Productivity made simple
      </p>
    </div>

    <!-- Theme selector -->
    <div class="mt-6">
      <app-theme-selector />
    </div>

    <div class="flex gap-2">
      <button class="px-2 py-1 border rounded" [class.bg-orange-500]="lang.currentLang() === 'en'"
        (click)="lang.setLanguage('en')">
        🇬🇧 English
      </button>
      <button class="px-2 py-1 border rounded" [class.bg-orange-500]="lang.currentLang() === 'es'"
        (click)="lang.setLanguage('es')">
        🇪🇸 Español
      </button>
    </div>


    <!-- Footer -->
    <div class="text-xs text-[var(--text-secondary)] mt-auto pt-6 border-t border-[var(--border-color)]">
      <p>© 2025 Kikixgabs</p>
    </div>
  </aside>


  <!-- Overlay para móvil cuando el sidebar está abierto -->
  <div class="fixed inset-0 z-20 bg-black transition-opacity duration-300"
    [class.opacity-30]="sidebarOpen() && isMobile()" [class.opacity-0]="!sidebarOpen() || !isMobile()"
    [class.pointer-events-auto]="sidebarOpen() && isMobile()"
    [class.pointer-events-none]="!sidebarOpen() || !isMobile()" (click)="toggleSidebar()"></div>

  <!-- 🧩 Contenido Principal -->
  <main class="flex flex-col lg:flex-row flex-1 overflow-hidden">
    <!-- Botón para abrir sidebar en móvil -->
    @if(isMobile() && !sidebarOpen()) {
    <div class="w-dvw material-symbols-outlined z-40 p-2 bg-orange-400 text-white">
      <button class="" (click)="toggleSidebar()">
        menu
      </button>
    </div>
    }


    <!-- Todo List -->
    <div class="flex-1 p-4 sm:p-6 overflow-auto min-w-0">
      <app-todo-list></app-todo-list>
    </div>

    <!-- Dashboard lateral -->
    <div
      class="w-full lg:w-[30rem] border-t lg:border-t-0 lg:border-l border-[var(--border-color)] bg-[var(--panel-bg)] p-4 sm:p-6 overflow-auto shrink-0">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>