<div class="p-4 space-y-8 bg-[var(--panel-bg)] rounded-2xl shadow-inner transition-all duration-300">
  <!-- Encabezado -->
  <div class="flex justify-between items-center border-b border-[var(--border-color)] pb-3">
    <h2 class="text-2xl font-bold tracking-wide text-[var(--text-primary)] flex items-center gap-2 select-none">
      <span class="material-symbols-outlined text-[28px] text-orange-400">bar_chart</span>
      {{lang.t('dashboard.dashboard')}}
    </h2>
  </div>

  <!-- Tarjetas -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
    <!-- Total -->
    <div
      class="flex flex-col items-center justify-center bg-[var(--mat-sys-surface-container)] hover:bg-[var(--mat-sys-surface-container-high)] transition-all duration-300 rounded-xl shadow-md p-6 border border-blue-500/40 hover:shadow-xl group">
      <p class="text-lg font-medium ">{{lang.t('dashboard.total')}}</p>
      <p class="text-4xl font-bold text-blue-400 group-hover:scale-110 transition-transform duration-300">
        {{ totalTodos() }}
      </p>
    </div>

    <!-- Completed -->
    <div
      class="flex flex-col items-center justify-center bg-[var(--mat-sys-surface-container)] hover:bg-[var(--mat-sys-surface-container-high)] transition-all duration-300 rounded-xl shadow-md p-6 border border-green-500/40 hover:shadow-xl group">
      <p class="text-lg font-medium ">{{lang.t('dashboard.complete')}}</p>
      <p class="text-4xl font-bold text-green-400 group-hover:scale-110 transition-transform duration-300">
        {{ completedTodos() }}
      </p>
    </div>

    <!-- Pending -->
    <div
      class="flex flex-col items-center justify-center bg-[var(--mat-sys-surface-container)] hover:bg-[var(--mat-sys-surface-container-high)] transition-all duration-300 rounded-xl shadow-md p-6 border border-red-500/40 hover:shadow-xl group">
      <p class="text-lg font-medium ">{{lang.t('dashboard.pending')}}</p>
      <p class="text-4xl font-bold text-red-400 group-hover:scale-110 transition-transform duration-300">
        {{ pendingTodos() }}
      </p>
    </div>
  </div>

  <!-- Gráfico -->
  @if(isBrowser) {
  <div class="pt-4">
    <app-chart [data]="chartData()" [options]="chartOptions"></app-chart>
  </div>
  }
</div>