<div class="p-6 space-y-6">
  <!-- Header -->
  <div class="flex justify-between items-center">
    <h2 class="text-2xl font-semibold">📈 Dashboard</h2>
  </div>

  <!-- Resumen numérico -->
  <div class="flex justify-around">
    <div class="flex flex-col items-center text-gray-200 dark:bg-zinc-800 p-4 rounded-xl shadow">
      <p class="text-lg font-medium">Total</p>
      <p class="text-3xl font-bold text-blue-500">{{ totalTodos() }}</p>
    </div>
    <div class="flex flex-col items-center text-gray-200 dark:bg-zinc-800 p-4 rounded-xl shadow">
      <p class="text-lg font-medium">Completed</p>
      <p class="text-3xl font-bold text-green-500">{{ completedTodos() }}</p>
    </div>
    <div class="flex flex-col items-center text-gray-200 dark:bg-zinc-800 p-4 rounded-xl shadow">
      <p class="text-lg font-medium">Pending</p>
      <p class="text-3xl font-bold text-red-500">{{ pendingTodos() }}</p>
    </div>
  </div>

  <!-- Doughnut chart solo en navegador -->
  @if(isBrowser){
  <app-chart [data]="chartData()" [options]="chartOptions"></app-chart>
  }
</div>