<div class="h-full flex flex-col">
  <nav class="flex justify-around border-b py-2 my-custom-div font-bold">
    <button routerLink="done" routerLinkActive="font-extrabold  text-blue-500" class="border-2 border-orange-500 p-3 rounded-xl cursor-pointer mx-2 px-2">
      ✅ Done List
    </button>
    <button routerLink="dashboard" routerLinkActive="font-extrabold  text-blue-500" class="border-2 border-orange-500 p-3 rounded-xl cursor-pointer mx-2 px-2">
      📊 Dashboard
    </button>
  </nav>

  <div class="flex-1 overflow-auto p-4">
    <router-outlet></router-outlet>
  </div>
</div>