label {
  display: block;
  font-size: 0.9rem;
  color: #3f3f46; /* zinc-700 */
  margin-bottom: 0.3rem;
  font-weight: 500;
}

::placeholder{
  color:#afafb6
}

input {
  width: 100%;
  padding: 0.7rem 0.9rem;
  border: 2px solid #e4e4e7; /* zinc-200 */
  border-radius: 0.75rem;
  font-size: 0.95rem;
  color: #18181b; /* zinc-900 */
  outline: none;
  transition: all 0.2s;
}

input:focus {
  border-color: #2563eb; /* blue-600 */
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
}

.error {
  color: #dc2626; /* red-600 */
  font-size: 0.8rem;
  margin-top: 0.2rem;
  display: block;
}
