// ✅ Importaciones SIEMPRE al principio
@use '@angular/material' as mat;
@use 'sass:map';
@use 'sass:color';

// 🎨 Definición del tema
html {
  @include mat.theme((
    color: (
    ),
    typography: Roboto,
    density: 0,
  ));
}

// 🌗 Configuración base del body
body {
  // Podés poner "light", "dark", o "light dark" para seguir el sistema.

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

html[data-theme='dark'] {
  --mat-sys-surface: #2f2f2f; // Fondo
  --mat-sys-on-surface: #e0e0e0; // Texto

  @include mat.theme((
    color: (
      theme-type: dark,
    ),
    typography: Roboto,
    density: 0,
  ));
}

